.header {
  min-height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.logo {
  margin-left: 10%;
}

.nav {
  margin-left: 35%;
}

.list {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navItem {
  font-size: 14px;
  display: inline-block;
  color: currentColor;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navItem:hover {
  font-weight: bold;
}

@media only screen and (max-width: 1000px) {
  .logo {
    display: none;
  }

  .nav {
    margin: 0 auto;
  }
}